#modifica_text {
  float:left;
  width: 45%;
  padding-right: 4%;
  margin-right: 4%;
  margin-left: 1%;
  border-right: 1px solid #aaa;
  height: 500px;
  font-size: 1.2em;
}

#modifica_text h2{
  margin-top: 10px;
}

#me fieldset{
  padding: 0 0 10px 4%;
  margin-bottom: 10px;
  border-bottom: 1px solid #00c200;
}

#newdata {
  width: 80%;
  padding: 10px 0 0 0;
  margin: 0;
  list-style-type: none;
}

#newdata li{
  width: 100%;
  margin-bottom: 10px;
}

#newdata li label {
  margin: 0;
  padding-bottom: 2px;
  font-size: 1.5em;
  display: block;
}

#newdata li span {
  display: block;
}

#newdata li span input{
  font-size: 1.5em;
  width: 100%;
}

#newdata li button{
  float: right;
}

#elimina_block{
  padding: 15px 0;
}

#elimina_block label{
  font-size: 1.3em;
  font-weight: bold;
  padding: 0 15px 0 3%;
}

#elimina_block button, #newdata li button{
  font-size: 1.3em;
  width: 130px;
  height:30px;
}