#stats{
  height: 575px;
  width: 100%;
} 

#global_stats{
  padding:15px;
  height: 20%;
}

#global_stats h2{
  margin-bottom: 5px;
  font-size: 2.2em;
}

#stats h3{
  font-size: 1.6em;
  text-align: center;
  margin: 12px 0 8px 0;
}

#global_stats img{
  float: left;
  padding: 5px 0;
}

#global_stats ul{
  font-size: 1.2em;
  padding: 0;
  margin: 0 0 0 80px;
}

#global_stats ul li{
  list-style-type: none;
  height: 27px;
  padding-left: 27px;
}

#global_stats ul li strong{
  display: inline-block;
  font-size: 1.1em;
  width: 220px;
}

#global_time, .duration_call{background:url('../img/clock.png') left top no-repeat;}
#global_inbyte, .call_in .inout_call{background:url('../img/in_arrow.png') left top no-repeat;}
#global_outbyte, .call_out .inout_call{background:url('../img/out_arrow.png') left top no-repeat;}
.call_out .inout_call, .call_in .inout_call{background-position: center center;}

#call_list{
  border-collapse: collapse;
  margin: 0 auto;
}

#call_list tr{
  height: 43px;
  width: 100%;
}

#call_list tr:nth-child(odd){
  background-color: #f5f5f5;
}


#call_list tr:nth-child(even){
  background-color: #ebebeb;
}

.inout_call{
  width: 35px;
}

.avatar35{
  padding: 3px 10px 0 10px;
  background: url(../img/mytalk_blank_35.png) center center no-repeat;
}

.avatar35, .avatar35 img {
  width: 35px;
  height: 35px !important;
  border-radius: 3px;
}

.who_call, .data_call, .duration_call{
  padding-right: 25px;
  font-size: 1.5em;
}

.who_call em {
  font-size: .9em;
}

.data_call{
  background:url('../img/calendar.png') no-repeat;
}

.data_call, .duration_call{
  padding-left: 30px;
  background-position: left center;
}


