#menu_container{ /*Parte da modificare nell'assemblamento*/
	float:right;
	margin:50px;
    position: relative;
}

#menu_label{
	float:right;
	cursor: pointer;
	padding:5px;
}

#menu_label:hover div{
	text-decoration: underline;
}

#menu_label div{
	float:right;
	font-size: 1.2em;
	padding-right:25px;
	margin-top: 8px;
	background: #fff url(../img/arrow-down.png) right no-repeat;
	font-size: 1.5em;
	font-family: 'RobotoCondensed';
}

#menu_label img{
	display: block;
	padding-right:8px;
}


#menu_area{
	clear:both;
    display:none;
    position: absolute;
    top: 60px;
    right: 5px;
}

#arrow { 
	transform:rotate(7deg); 
	-webkit-transform:rotate(180deg); 
	width:0; 
	height:0; 
	overflow:hidden; 
	border-top:15px solid #00c200; 
	border-left:15px solid transparent; 
	border-right:15px solid transparent; 
	position: absolute; 
	right: 35px; 
	top: -13px;
}

#menu_content {
	width:240px;
	display:block; 
	background:#fff; 
	border:2px solid #00c200;  
	border-radius:10px;
	box-shadow: 2px 2px 3px #9e9e9e;
	padding: 15px;
}

#menu_container fieldset{
	width:100%;
}

#menu_container ul{
	display: block;
	margin:0;
	padding:0;	
}

#menu_container ul li{
	display: block;
	clear:both;
	margin:0;
	padding:0;
	list-style-type: none;
}

#menu_container input{
	width:225px;
	height:15px;
	margin-bottom: 10px;
}

#button_login{
	font-size: 1.1em;
	height: 30px;
	margin-left:155px;
	width:80px;
}

.separator{
	display: block;
	margin-top: 10px !important;
	padding-top: 10px !important;
	border-top: 1px solid #00e200;
	width:100%;
}

#psw_dimenticata{ text-align: center;}

#auth_content h2{ 
	font-size: 1em;
	text-align: center;
	margin-bottom: 5px;
}

#auth_content ul li{ 
    padding:3px 0 3px 15px;     
}

#auth_content ul li img{ 
	padding-right: 5px;	
	vertical-align: middle;
}
