<!doctype html>
<html>
  <head>
      <title></title>
      <link rel="stylesheet" type="text/css" href="../common.css" />
      <link rel="stylesheet" type="text/css" href="../font/roboto.css" />
      <link rel="stylesheet" type="text/css" href="c3.css" />
  </head>
  <body>
    <div id="ip_container">
      <div id="ip_call">
        <h3> Chiama i tuoi amici </h3>
        <p>
          Lorem Ipsum &egrave; considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assembl&ograve; per preparare un testo campione. 
        </p>
        <form>
          <fieldset>
            <legend hidden>Chiama inserendo l'indirizzo IP</legend>
            <label for="ip_call_text" hidden>Indirizzo IP</label> <input id="ip_call_text" type="text" name="ip_call" placeholder="Indirizzo IP" />
            <button id="ip_call_button" class="common_button" type="button"><div></div>Chiama</button>
          </fieldset>
        </form>
      </div>
      <div id="ip_yours">
        <h3>Il tuo indirizzo IP</h3>
        <p>
          Lorem Ipsum &egrave; considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assembl&ograve; per preparare un testo campione. 
        </p>
        <h4 id="ip_address">192.168.0.1:1</h4>
      </div>
    </div> 
  </body>
</html>