body{/*dimensione possibile del body*/
	max-width:1024px;
	width: 99%;
	border: 1px solid #333;
	padding-top: 10px;
}

#logo{/* Da modificare durante l'assemblamento*/
	width: 350px;
	text-align: center;
}

#logo h1{
	background-image: url(img/mytalk.png);
	width: 300px;
	height: 150px;
	margin: 0 auto;
	font-size: 1px;
	text-indent:-999em;
}

#logo h2{
	margin-top: 10px;
}