<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../common.css"/>
    <link rel="stylesheet" type="text/css" href="../font/roboto.css"/>
    <link rel="stylesheet" type="text/css" href="c4.css"/>

    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/animation-c4.js"></script>
  </head>
  <body onload="javascript:start()">
    <div id="notlogged_content">

      <div id="video_container">
        <div id="video_frame">
          <h5>Video</h5>
          <p>Video Tutorial Video Tutorial Video Tutorial Video Tutorial Video Tutorial</p>
          <video id="video_tutorial" poster="img/video_placeholder.png">
            <source src="video_test.mp4" type="video/mp4" />
            Il tuo browser non supporta il video in html5
          </video>
        </div>
      </div>

      <div id="divider"></div>

      <div id="signup_container">
        <div id="signup">
          <h5>Registrati ora!</h5>
          <p>Registrarsi &egrave; gratuito e ti permette di chiamare gli altri utenti che gi&agrave; utilizzano MyTalk.</p>
          <form>
            <fieldset>
              <legend hidden>Registrazione</legend>
              <ul>
                <li>
                  <label for="username" hidden>Username</label>
                  <input id="username" name="username" type="text" placeholder="Username" required />
                </li>
                <li>
                  <label for="email" hidden>Email</label>
                  <input id="email" name="email" type="email" placeholder="Email" required />
                </li>
                <li>
                  <label for="password" hidden>Password</label>
                  <input id="password" name="password" type="password" placeholder="Password" required />
                </li>
                <li>
                  <label for="password_conf" hidden>Conferma la password</label>
                  <input id="password_conf" name="password_conf" type="password" placeholder="Conferma la password" required />
                </li>
                <li>
                  <button class="common_button" id="button_signup">Registrati</button>
                </li>
              </ul>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>