<div id="menu_container">
  {{ partial callip }}
  <div id="menu_label"><div>Il tuo nome</div></div>
  <div id="menu_area">
    <div id="arrow"></div>
    <div id="menu_content">
    <div id="auth_content">
    <h2>Sei connesso come:</h2>
    <ul>
      <li>Il tuo nome</li>
      <li>email@dominio.com</li>
      </ul>
    <ul class="separator">
      <li><img src="img/settings.png"/> <a href="#"> Modifica Profilo </a></li>
      <li><img src="img/stats.png"/> <a href="#"> Statistiche sulle chiamate </a></li>
    </ul>
    <ul class="separator">
      <li><img src="img/door_out.png"/> <a href="#">Esci</a></li>
    </ul>
  </div>
  </div>
  </div> 
</div>