<div id="ip_container">
  <div id="ip_call">
    <h3> Chiama i tuoi amici </h3>
    <p>
      Lorem Ipsum &egrave; considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assembl&ograve; per preparare un testo campione. 
    </p>
    {{ partial callip }}
  </div>
  <div id="ip_yours">
    <h3>Il tuo indirizzo IP</h3>
    <p>
      Lorem Ipsum &egrave; considerato il testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri e li assembl&ograve; per preparare un testo campione. 
    </p>
    <h4 id="ip_address">192.168.168.168:19</h4>
  </div>
</div>