<div id="menu_container" style="position: absolute; right: 3%;"> <!-- TODO sistemare inline -->
  <div id="menu_label"><div>Accedi</div><img id="img_door" src="img/open_door.png"/></div>
  <div id="menu_area" >
    <div id="arrow"></div>
     <div id="menu_content" style="position: relative;z-index: 100;"> <!-- TODO sistemare inline -->
        {{#view MyTalk.LoginFormView }}   
          <fieldset>
            <legend hidden>Loggati</legend>
              <ul>
               <li>
                  <label for="email" hidden>Email</label>
                   {{view MyTalk.LoginEmail valueBinding='view.email'}}
                 
               </li>
               <li>
                  <label for="password" hidden>Password</label>
                  {{view MyTalk.LoginPassword valueBinding='view.password' }}
                 
                </li>
              </ul>
             
              <button type="submit" id="button_login" class="common_button" >Accedi</button>
              
          </fieldset>
        {{/view}}
        
      </div>
  </div> 
</div>
 
