<div id="liste">
        <div class="header">
          <h5>Le Tue Liste</h5>
          <a href="#" class="common_button">Crea una Nuova Lista</a>
        </div>
        <div class="content">
          <ul>
            <li><a><div class="online_user"><div>online</div>15/1000</div><div class="list_name">Lista generale</div></a></li>
            <li><a><div class="online_user"><div>online</div>15/1000</div><div class="list_name">Lista generale</div></a></li>
            <li><a><div class="online_user"><div>online</div>15/1000</div><div class="list_name">Lista generale</div></a></li>
            <li><a><div class="online_user"><div>online</div>15/1000</div><div class="list_name">Lista generale</div></a></li>
            <li><a><div class="online_user"><div>online</div>15/1000</div><div class="list_name">Lista generale</div></a></li>
            <li><a><div class="online_user"><div>online</div>15/1000</div><div class="list_name">Lista generale</div></a></li>
            <li><a><div class="online_user"><div>online</div>15/1000</div><div class="list_name">Lista generale</div></a></li>
            <li><a><div class="online_user"><div>online</div>15/1000</div><div class="list_name">Lista generale</div></a></li>
            <li><a><div class="online_user"><div>online</div>15/1000</div><div class="list_name">Lista generale</div></a></li>
            <li><a id="blacklist"><div class="list_name">Blacklist</div></a></li>
          </ul>
        </div>
</div>