<div id="utenti">
        <div class="header">
          <h5>Current List <span id="current_online">Online: 15/50000</span></h5>
          <div id="list_option">
            <input type="text" placeholder="Filtra per nome o cognome" id="search_bar" />
            <div id="list_button">
              <a href="#" class="common_button">Rimuovi</a>
              <a href="#" class="common_button">Rinomina</a>
            </div>
          </div>
        </div>
        <div class="content">
          <ul>
            <li>
              <img src="img/avatar.png" alt="nome cognome utente"/>
              <div>
                <div>Nome Cognome</div>
                username
              </div>
              <ul>
                <li><a class="call_user" href="#"></a></li>
                <li><a class="add_user" href="#"></a></li>
                <li><a class="blacklist_user" href="#"></a></li>
                <li><a class="remove_user" href="#"></a></li>
              </ul>
            </li>
            <li>
              <img src="img/avatar.png" alt="nome cognome utente"/>
              <div>
                <div>Nomelungo Cognomelungo</div>
                usernamelungo
              </div>
              <ul>
                <li><a title="Chiama" class="call_user tooltip" href="#"></a></li>
                <li><a class="add_user" href="#"></a></li>
                <li><a class="blacklist_user" href="#"></a></li>
                <li><a class="remove_user" href="#"></a></li>
              </ul>
            </li>
          </ul>
        </div>
</div>